extends layout

block content
    script(src = '/bower_components/node-azure-search/azure-search.min.js')
    script(src = '/bower_components/moment/min/moment.min.js')
    script(src='/react/build/dashboard.js')

    span.brandname
      h2= title
      | powered by Geneva Analytics

    // Wrapper
    #wrapper
        #dashboard
    // /WRAPPER

    script(type='text/javascript').
        var resultsStr = !{JSON.stringify(results)};
        ReactDOM.render(
            React.createElement(SearchResult, {query: "#{query}"}),
            document.getElementById("dashboard")
        )
