doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/react-treeview/react-treeview.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        script(src='/bower_components/react/react.js')
        script(src='/bower_components/react/react-dom.min.js')
        script(src='/bower_components/react/react-with-addons.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/bower_components/react-treeview/build/react-treeview.js')
        block content
